<template>
  <v-app class="content">
    <ToolbarPublic v-if="!logged" style="margin-bottom: 64px" />
    <Toolbar v-else />

    <v-main class="pa-0 background">
      <v-container fluid fill-heigth class="pa-0 container-main">
        <nuxt />
      </v-container>
    </v-main>

    <Footer />
  </v-app>
</template>

<script>
import Footer from '@/components/structure/Footer.vue'
import ToolbarPublic from '@/components/structure/ToolbarPublic.vue'
import Toolbar from '@/components/structure/Toolbar.vue'

export default {
  components: {
    Footer,
    Toolbar,
    ToolbarPublic,
  },
  data() {
    return {
      logged: true,
    }
  },
}
</script>

<style lang="scss">
.background {
  background-color: #fff;
}

.container-main {
  height: 100%;
}
</style>
