<template>
  <v-row id="full-row" no-gutters align="center" justify="center">
    <v-col cols="12" sm="12" md="6" class="d-flex justify-end pr-8">
      <img
        id="img-error"
        data-src="@/assets/image_erro.svg"
        src="@/assets/image_erro.svg"
      />
    </v-col>

    <v-col
      cols="12"
      sm="12"
      md="6"
      class="d-flex flex-column algin-center justify-start pl-8"
    >
      <div v-if="error.statusCode === 404" class="text font-weight-bold">
        Você acessou uma <br />
        página que não existe.
      </div>

      <div v-else class="font-weight-bold text">OPS! Ocorreu um erro!</div>

      <div class="mt-5">
        <v-btn class="btn-back" @click="$router.go(-1)">
          Volte para o início
        </v-btn>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred',
    }
  },
  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title,
    }
  },
}
</script>

<style lang="scss" scoped>
#full-row {
  height: 100%;
}

h1 {
  font-size: 20px;
}

.text {
  font-weight: 900;
  font-size: 48px;
  line-height: 64px;
  color: #006f4a;
}

.btn-back {
  background-color: #00b380 !important;
  color: #fff !important;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  width: 200px;
  height: 40px !important;
  font-size: 14px !important;
  line-height: 24px;
  font-weight: 900;
}

#img-error {
  width: 500px;
  @media only screen and (max-width: 600px) {
    margin-bottom: 32px;
  }
}
</style>
