<template>
  <div class="mt-6" style="width: 65%">
    <v-row no-gutters class="mb-3" align="center">
      <v-col cols="6">
        <v-text-field
          v-model="search"
          hide-details
          background-color="#FBFBFB"
          rounded
          solo
          label="Pesquisar"
          append-icon="mdi-magnify"
        ></v-text-field>
      </v-col>
      <v-col cols="3" class="px-2">
        <v-select
          v-model="filter_per"
          background-color="#FBFBFB"
          hide-details
          :items="filters_per"
          label="Filtrar por"
          rounded
          solo
        ></v-select>
      </v-col>
      <v-col cols="3">
        <v-btn
          class="button"
          style="width: 100%"
          rounded
          height="48"
          color="primary"
        >
          <v-icon class="pr-4">mdi-email-plus-outline</v-icon>
          Adicionar documento
        </v-btn>
      </v-col>
    </v-row>
    <v-data-table
      :headers="headers"
      :items="desserts"
      hide-default-footer
      class="elevation-1"
      @click:row="handle"
    >
    </v-data-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      filters_per: ['Ordem alfabética', 'Ordem de criação'],
      headers: [
        {
          text: 'Categoria',
          align: 'start',
          value: 'category',
        },
        { text: '', value: 'action' },
        { text: 'Tipo', value: 'type' },
        { text: 'Data', value: 'date' },
      ],
      accounts: [],
    }
  },
  async created() {
    const response = await this.$axios.get('/account')
    for (const i in response.data.accounts) {
      this.accounts.push({
        category: response.data.accounts[i].category,
        id: response.data.accounts[i].id,
      })
    }
  },
  methods: {
    handle(a) {
      this.$router.push(`/edit?id=${a.id}`)
    },
  },
}
</script>

<style lang="scss">
.v-btn__content {
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  color: #fbfbfb;
}

.v-data-table-header {
  background: rgb(0, 156, 223);
  background: linear-gradient(
    90deg,
    rgba(0, 156, 223, 1) 0%,
    rgba(17, 122, 228, 1) 61%,
    rgba(0, 46, 79, 1) 100%
  );
  border-radius: 10px 10px 0 0;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
}

.v-data-table__wrapper {
  border-radius: 10px;
}

table {
  border-radius: 10px;
  border-bottom: 8px solid #00b380;
}
</style>
