<template>
  <v-footer dark padless>
    <v-card color="#F4F4F4" class="flex bkg-public" flat tile>
      <!-- Legal Footer -->
      <v-card-actions class="legal-footer">
        <span>
          <div id="company">&copy; Favorites | v.0.1 beta</div>
        </span>
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-footer>
</template>
<script>
export default {}
</script>
<style lang="scss" scoped>
.bkg-public {
  background-color: #c9d6d9 !important;
}
.divider {
  border: 1px solid #3f444f !important;
  margin: 0 8%;
}
.text-logo {
  align-items: center;
  display: flex;
  font-size: 12px;
  height: 27px;
  line-height: 0.8rem;
}
.social-footer {
  color: #117ae4;
  margin: 0 8%;
  @media only screen and (max-width: 600px) {
    margin: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  img {
    margin: 8px 0;
  }
}
.content-line {
  height: 62px;
  @media only screen and (max-width: 600px) {
    height: 80px;
  }
}
.legal-footer {
  font-size: 12px;
  height: 32px;
  background-color: #3f444f;
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    padding: 8px 0;
  }
  @media only screen and (max-width: 768px) and (min-width: 600px) {
    padding: 0 75px;
  }
}
.v-card__actions {
  padding: 0 8% !important;
  @media only screen and (max-width: 600px) {
    padding: 8px 0 !important;
  }
}
.links {
  font-size: 10px;
  margin-left: 20px;
  text-decoration: none;
  &__legal-links {
    color: #fff;
  }
  &__social-links {
    color: #117ae4;
  }
}
@media only screen and (max-width: 600px) {
  #company {
    margin-top: 12px;
  }
  br {
    display: none;
  }
  #logo-content {
    text-align: center;
  }
}
</style>
