<template>
  <v-row no-gutters class="background d-flex flex-column" justify="center">
    <div
      v-if="$auth.state.user"
      class="d-flex flex-column"
      style="padding: 90px 10px 10px 90px"
    >
      <span class="title-header">Olá {{ $auth.state.user.email }}</span>
      <span class="subtitle-header">Qual imóvel você prefere mais?</span>
    </div>

    <div
      v-if="!$auth.state.user"
      class="d-flex flex-column"
      style="padding: 90px 10px 10px 90px"
    >
      <span class="title-header">Olá!</span>
      <span class="subtitle-header"
        >Para salvar seus favoritos <br />
        por favor logue em nossa página</span
      >
    </div>
  </v-row>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.background {
  width: 100%;
  height: 250px;
  background: rgb(0, 156, 223);
  background: linear-gradient(
    90deg,
    rgba(0, 156, 223, 1) 0%,
    rgba(17, 122, 228, 1) 61%,
    rgba(0, 46, 79, 1) 100%
  );
}

.title-header {
  font-weight: 900;
  font-size: 48px;
  line-height: 64px;
  color: #fff;
}

.subtitle-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}
</style>
