<template>
  <div>
    <v-app-bar color="gray" fixed flat>
      <h1 class="text-center my-5 logo-name" @click="home">Favorites</h1>
      <v-spacer />
      <div class="d-flex justify-center mt-1">
        <v-btn class="mr-2" rounded color="primary" to="/signin"> Logar </v-btn>
        <v-btn class="ml-2" rounded color="primary" to="/signup">
          Cadastrar
        </v-btn>
      </div>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  methods: {
    home() {
      this.$router.push('/')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/variables.scss';
</style>

<style lang="scss">
.v-toolbar {
  background-color: #fbfbfb;
  height: 70px !important;
}

.v-toolbar__content {
  padding: 0 !important;
  border-top: 8px solid rgb(0, 156, 223);
  height: 64px !important;
}
</style>

<style lang="scss" scoped>
.logo-name {
  font-weight: bold;
  font-size: 2rem;
  padding: 25px;
  line-height: 24px;
  color: #117ae4;
  cursor: pointer;
}
</style>
