<template>
  <!-- <div class="public" :style="margin-bottom: 85px"> -->
  <div class="public" :style="{ marginBottom: marginBottom }">
    <v-app-bar color="white" fixed>
      <h1 class="text-center my-5 logo-name" @click="home">Favorites</h1>
      <v-spacer />
      <div>
        <v-btn
          v-if="$auth.state.user"
          class="mr-2"
          rounded
          color="primary"
          @click="logout"
        >
          Deslogar
        </v-btn>
      </div>
      <div v-if="!$auth.state.user" class="d-flex justify-center mt-1">
        <v-btn class="mr-2" rounded color="primary" to="/signin"> Logar </v-btn>
        <v-btn class="ml-2" rounded color="primary" to="/signup">
          Cadastrar
        </v-btn>
      </div>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {}
  },
  computed: {
    dashboardPage() {
      return this.$route.path === '/dashboard' || this.$route.path === '/'
    },
    marginBottom() {
      return this.dashboardPage ? '0px' : '0px'
    },
  },
  methods: {
    async logout() {
      await this.$auth.logout()
    },
    home() {
      this.$router.push('/')
    },
  },
}
</script>

<style lang="scss" scoped>
.styles {
  background: rgb(0, 156, 223);
  background: linear-gradient(
    90deg,
    rgba(0, 156, 223, 1) 0%,
    rgba(17, 122, 228, 1) 61%,
    rgba(0, 46, 79, 1) 100%
  );
}
</style>

<style lang="scss">
.public {
  .v-toolbar {
    background-color: #fbfbfb;
    height: 85px !important;
  }

  .v-toolbar__content {
    padding: 0 80px !important;
    border-top: 8px solid #117ae4;
    height: 85px !important;
  }

  .text-avatar {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
  }

  .theme--light.v-tabs > .v-tabs-bar {
    background: transparent !important;
  }

  a.font-weight-bold.v-tab--active.v-tab {
    color: #fff !important;
  }

  .v-btn-toggle > .v-btn.v-btn--active {
    background-color: #117ae4 !important;
    color: #fff !important;
  }

  .v-btn-toggle:not(.v-btn-toggle--dense) .v-btn.v-btn.v-size--default {
    height: 25px !important;
  }

  .v-btn.v-item--active.v-btn--active.v-btn--contained.theme--light.v-size--default {
    background-color: #117ae4 !important;
  }

  .theme--light.v-btn-toggle:not(.v-btn-toggle--group) .v-btn.v-btn {
    border-color: transparent !important;
  }

  .icon-language {
    font-size: 14px;
    color: #fff !important;
    line-height: 24px;
  }
}
</style>

<style lang="scss" scoped>
.logo-name {
  font-weight: bold;
  font-size: 2rem;
  padding: 25px;
  line-height: 24px;
  color: #117ae4;
  cursor: pointer;
}
</style>
