<template>
  <v-col cols="12" class="pa-0 mt-10">
    <v-row no-gutters align="center" justify="center">
      <div class="title-page">Documentos</div>
    </v-row>

    <v-row no-gutters align="center" justify="center">
      <TableDocuments />
    </v-row>
  </v-col>
</template>

<script>
import TableDocuments from '@/components/tables/TableDocuments'
export default {
  components: {
    TableDocuments,
  },
  layout: 'empty',
  data() {
    return {
      cards: [
        {
          text: `Médicos online`,
          icon: 'mdi-doctor',
          page_url: 'epidemiologico',
        },
        {
          text: `Histórico de consultas`,
          icon: 'mdi-book-open-outline',
          page_url: 'financeiro',
        },
        {
          text: `Documentos`,
          icon: 'mdi-file-document-multiple',
          page_url: 'segmentos',
        },
        {
          text: `Serviços`,
          icon: 'mdi-credit-card-outline',
          page_url: 'epidemiologico',
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.title-page {
  font-weight: 900;
  font-size: 72px;
  line-height: 80px;
  color: #006f4a;
}
</style>
