<template>
  <v-row>
    <v-col class="text-center">
      <img src="/v.png" alt="Vuetify.js" class="mb-5" />
      <blockquote class="blockquote">
        &#8220;First, solve the problem. Then, write the code.&#8221;
        <footer>
          <small>
            <em>&mdash;{{ category }}</em>
          </small>
        </footer>
      </blockquote>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      category: '',
    }
  },
  async created() {
    const response = await this.$axios.get(
      `/account/${this.$router.currentRoute.query.id}`
    )
    this.category = response.data.account.category
  },
}
</script>
