<template>
  <v-col cols="12" class="pa-0">
    <v-row no-gutters align="center" justify="center" style="width: 100%">
      <Header />
    </v-row>
    <v-row no-gutters style="width: 100%">
      <v-col
        style="
          justify-content: space-between;
          overflow-x: hidden;
          overflow-y: auto;
          height: 70vh;
        "
        cols="6"
        class="pa-0"
      >
        <div class="d-flex align-center justify-center" style="font-size: 2rem">
          Empreendimentos
        </div>

        <v-col
          v-for="(building, index) in buildings"
          :key="index"
          cols="8"
          class="pa-4 justify-center"
          style="margin-left: 15%"
        >
          <v-col
            cols="12"
            class="d-flex"
            style="border-radius: 30px; box-shadow: 0 0 0.5em"
            height="300"
          >
            <v-col cols="5" class="d-flex align-center justify-center coluna1">
              <img :src="building.image_url" height="100%" width="100%" />
            </v-col>
            <v-col cols="6" lg="6" class="d-flex coluna2">
              <v-row>
                <v-col cols="12">
                  {{ building.title }}
                </v-col>
                <v-col cols="12"
                  >{{ building.area }}, {{ building.city }} -
                  {{ building.state }}</v-col
                >
                <v-col cols="12">
                  <div>
                    {{ building.min_area }} a {{ building.max_area }} m²
                  </div>
                </v-col>
                <v-btn
                  color="primary"
                  rounded
                  class="button mb-5"
                  width="200"
                  height="40"
                  :disabled="flag"
                  @click="favorite_building(building.id)"
                >
                  favoritar
                </v-btn>
              </v-row>
            </v-col>
          </v-col>
        </v-col>
      </v-col>
      <v-col
        style="
          justify-content: space-between;
          overflow-x: hidden;
          overflow-y: auto;
          height: 70vh;
        "
        cols="6"
        class="pa-0"
      >
        <div class="d-flex align-center justify-center" style="font-size: 2rem">
          Favoritos
        </div>
        <div v-if="!$auth.state.user">
          <div
            class="d-flex align-center justify-center"
            style="font-size: 2rem"
          >
            Para visualizar os favoritos por favor faça login ou cadastre-se
          </div>
        </div>
        <div v-if="$auth.state.user">
          <v-col
            v-for="(building, index) in buildingsf"
            :key="index"
            cols="8"
            class="pa-4 justify-center"
            style="margin-left: 15%"
          >
            <v-col
              cols="12"
              class="d-flex"
              style="border-radius: 30px; box-shadow: 0 0 0.5em"
              height="300"
            >
              <v-col
                cols="5"
                class="d-flex align-center justify-center coluna1"
              >
                <img :src="building.image_url" height="100%" width="100%" />
              </v-col>
              <v-col cols="6" lg="6" class="d-flex coluna2">
                <v-row>
                  <v-col cols="12">
                    {{ building.title }}
                  </v-col>
                  <v-col cols="12"
                    >{{ building.area }}, {{ building.city }} -
                    {{ building.state }}</v-col
                  >
                  <v-col cols="12">
                    <div>
                      {{ building.min_area }} a {{ building.max_area }} m²
                    </div>
                  </v-col>
                  <v-btn
                    color="primary"
                    rounded
                    class="button mb-5"
                    width="200"
                    height="40"
                    @click="delete_favorite(building.relation_id)"
                  >
                    remover
                  </v-btn>
                </v-row>
              </v-col>
            </v-col>
          </v-col>
        </div>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
import Header from '@/components/structure/Header.vue'

export default {
  components: {
    Header,
  },
  auth: 'guest',
  layout: 'empty',
  data() {
    return {
      buildings: [],
      buildingsf: [],
      flag: !this.$auth.state.user,
    }
  },
  async created() {
    await this.get_building()
    if (this.$auth.state.user) {
      await this.get_favorites()
    }
  },
  methods: {
    async favorite_building(id) {
      await this.$axios.post('/favorite_building', {
        building_id: id,
      })
      this.buildingsf = []
      this.get_favorites()
    },
    async get_building(id) {
      const response = await this.$axios.get('/buildings')
      for (const i in response.data.buildings) {
        this.buildings.push({
          id: response.data.buildings[i].id,
          title: response.data.buildings[i].title,
          image_url: response.data.buildings[i].image_url,
          area: response.data.buildings[i].area,
          city: response.data.buildings[i].city,
          state: response.data.buildings[i].state,
          min_area: response.data.buildings[i].min_area,
          max_area: response.data.buildings[i].max_area,
        })
      }
    },
    async get_favorites(id) {
      const responsef = await this.$axios.get('/user_favorites')
      for (const i in responsef.data.buildings) {
        this.buildingsf.push({
          relation_id: responsef.data.buildings[i].relation_id,
          id: responsef.data.buildings[i].id,
          title: responsef.data.buildings[i].title,
          image_url: responsef.data.buildings[i].image_url,
          area: responsef.data.buildings[i].area,
          city: responsef.data.buildings[i].city,
          state: responsef.data.buildings[i].state,
          min_area: responsef.data.buildings[i].min_area,
          max_area: responsef.data.buildings[i].max_area,
        })
      }
    },
    async delete_favorite(id) {
      await this.$axios.delete(`/delete_favorite/${id}`)
      this.buildingsf = []
      this.get_favorites()
    },
  },
}
</script>

<style lang="scss" scoped>
.coluna1 {
  border-top-left-radius: inherit !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: inherit !important;
  background-color: #fbfbfb;
}

.coluna2 {
  .value-card {
    font-weight: 900;
    font-size: 72px;
    line-height: 80px;
    color: #f9a11b;
  }

  .text-card {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #767b7a;
  }
}

.v-card--link:hover {
  .coluna1 {
    background-color: #00b380;

    .v-icon::before {
      color: #fff;
    }
  }
}
</style>
