<template>
  <v-col
    class="d-flex flex-column align-center justify-center"
    style="width: 100%"
  >
    <v-row justify="center"> <v-col cols="12" sm="8" md="6"> </v-col></v-row>
    <v-row justify="center"> <v-col cols="12" sm="8" md="6"> </v-col></v-row>
    <v-row justify="center"> <v-col cols="12" sm="8" md="6"> </v-col></v-row>

    <v-card
      justify="center"
      class="card-login mx-auto"
      max-width="661"
      outlined
    >
      <h1 class="text-center my-5 text-login">LOGIN</h1>
      <v-row>
        <v-col cols="12">
          <v-text-field
            v-model="user.email"
            class="mx-12"
            height="55"
            label="e-mail"
            rounded
            hide-details
            solo
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model="user.password"
            height="55"
            hide-details
            class="mx-12"
            label="Senha"
            :append-icon="user.showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="user.showPassword ? 'text' : 'password'"
            rounded
            solo
            @click:append="user.showPassword = !user.showPassword"
          ></v-text-field>
        </v-col>
      </v-row>

      <div class="d-flex flex-column justify-center align-center mx-auto mt-8">
        <v-btn
          color="primary"
          rounded
          class="button mb-5"
          width="200"
          height="40"
          @click="login"
        >
          ENTRAR
        </v-btn>

        <v-btn
          text
          class="px-6 text-decoration-underline"
          style="color: #f9a11b"
        >
          esqueceu a senha?
        </v-btn>
      </div>

      <v-divider class="my-7 mx-15" />

      <div
        class="d-flex flex-column justify-center align-center mx-auto mt-8 mb-16"
      >
        <span class="mb-5 text-signup">Não possui conta?</span>
        <v-btn rounded width="200" height="40" color="primary" to="/signup">
          CADASTRAR
        </v-btn>
      </div>
    </v-card>
  </v-col>
</template>

<script>
export default {
  components: {},
  auth: 'guest',
  layout: 'external',
  data() {
    return {
      user: {
        email: '',
        password: '',
        showPassword: false,
      },
    }
  },
  methods: {
    async login() {
      try {
        await this.$auth.loginWith('local', {
          data: {
            user: {
              email: this.user.email.toLowerCase(),
              password: this.user.password,
            },
          },
        })
        this.$router.push('/')
      } catch (err) {
        this.loading = false
        if (err.response.status === 401) {
          this.unauthorized = true
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.text-login {
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.15em;
  color: #117ae4;
}
</style>

<style lang="scss">
.card-login {
  border-bottom: 5px solid #117ae4 !important;
  background-color: #fbfbfb !important;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.05) !important;
  border-radius: 10px !important;
}
</style>

<style lang="scss" scoped>
.text-signup {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #767b7a;
}
</style>
