<template>
  <v-col
    class="d-flex flex-column align-center justify-center"
    style="width: 100%"
  >
    <v-row justify="center"> <v-col cols="12" sm="8" md="6"> </v-col></v-row>
    <v-row justify="center"> <v-col cols="12" sm="8" md="6"> </v-col></v-row>
    <v-row justify="center"> <v-col cols="12" sm="8" md="6"> </v-col></v-row>
    <v-card class="card-login mx-auto" max-width="848" outlined>
      <v-form v-model="valid">
        <h1 class="text-center my-5 text-login">CADASTRO</h1>
        <v-row no-gutters class="mx-8">
          <v-col cols="12" class="py-2">
            <v-text-field
              v-model="user.email"
              height="55"
              label="e-mail*"
              :rules="[rules.required]"
              rounded
              solo
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="py-2 pr-1">
            <v-text-field
              v-model="user.password"
              height="55"
              label="Senha*"
              :append-icon="user.showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :type="user.showPassword ? 'text' : 'password'"
              rounded
              :rules="[rules.required, rules.passwordSize]"
              solo
              @click:append="user.showPassword = !user.showPassword"
            ></v-text-field>
          </v-col>
          <v-col cols="6" class="py-2 pl-1">
            <v-text-field
              v-model="user.password_confirm"
              height="55"
              label="Confirmar senha*"
              rounded
              :rules="[rules.required, rules.passwordConfirmation]"
              :append-icon="
                user.showPasswordConfirm ? 'mdi-eye' : 'mdi-eye-off'
              "
              :type="user.showPasswordConfirm ? 'text' : 'password'"
              solo
              @click:append="
                user.showPasswordConfirm = !user.showPasswordConfirm
              "
            ></v-text-field>
          </v-col>
        </v-row>
        <div
          class="d-flex flex-column justify-center align-center mx-auto my-10"
        >
          <v-btn
            color="primary"
            rounded
            class="button"
            width="200"
            height="40"
            :disabled="!valid"
            @click="signup"
          >
            CADASTRAR
          </v-btn>
        </div>
      </v-form>
    </v-card>
  </v-col>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      user: {
        email: '',
        password: '',
        password_confirm: '',
        showPassword: false,
        showPasswordConfirm: false,
      },
      rules: {
        required: (v) => !!v || 'Campo Obrigatório',
        passwordSize: (v) => v.length > 6 || 'Minimo 6 caracteres',
        passwordConfirmation: () =>
          this.user.password === this.user.password_confirm ||
          'Senhas diferentes',
      },
      errorMessageConsulta: false,
      valid: false,
      show: false,
    }
  },
  auth: 'guest',
  layout: 'external',
  methods: {
    async signup() {
      try {
        await this.$axios.post('/signup', {
          user: {
            email: this.user.email.toLowerCase(),
            password: this.user.password,
          },
        })
        this.$router.push('/signin')
      } catch (error) {
        console.log(error)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.text-login {
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.15em;
  color: #117ae4;
}

.text-consulta {
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15em;
  color: #117ae4;
}

.text-link {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(249, 161, 27);
}
</style>

<style lang="scss">
.card-login {
  border-bottom: 8px solid #117ae4 !important;
  background-color: #fbfbfb !important;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.05) !important;
  border-radius: 10px !important;
}
</style>

<style lang="scss" scoped>
.text-signup {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #767b7a;
}
</style>
