<body style="margin: 0; padding: 0; box-sizing: border-box; background-color: #eee;">
 <div style="max-width: 680px; margin: auto; text-align: center;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; background: white; padding: 16px 8px;">
    <div style="background-color: white;">
      <img style="width: 100%;" src="http://stethum.herokuapp.com/password_recovery.png" alt="Recuperação de Senha" />
    </div>
    <div style="display: grid; row-gap: 32px; padding: 32px 48px;">
      <h2 style="color: #000">Olá Félipe Abacate</h2>
      <p style="color: #000; padding: 0 80px">Clique aqui</p>
      <div style="margin: 36px 0">
        <a style="font-size: 16px; font-weight: bold; text-decoration: none; text-transform: uppercase; background-color: #004D6B; color: #fff; padding: 16px 25%; border-radius: 5px;"
        href="<%= @recovery_url %>" role="button">Clique aqui 2</a>
      </div>
    </div>
    <hr style="width: 70%; margin: 16px auto;" />
    <div class="footer">
      <p>&copy; Indeorum <%= Time.new.year %></P>
    </div>
  </div>
</body>